.Footer {
    height: 200px;
    width: 100%;
    max-height: 100%;
    background-color: rgb(62, 61, 61);
    padding: 30px 0px 30px 0px;
    grid-template: auto / auto auto auto;
    margin-top: 20px;

  }

  .link-list,
  .usefull-links{
    color: rgb(160, 159, 159);
    font-family: sans-serif;
    list-style: none;

  }


#input-bar{
    height: 30px;
    width: 200px;
}
.submit-btn{
    display: block;
    margin-left: 35px;
    background-color: rgb(62, 61, 61);
    padding: 10PX;
    border-radius: 200px;
    border-style: solid;
    color: rgb(160, 159, 159);
    font-weight: bold;
    font-size: 10px;
    margin-top: 10px;
    width: 150PX;

}
ul{
    padding: unset;
    margin: unset;
}
.search-bar{
    grid-column: 2 / 2;
    width: 70%;
    color: rgb(160, 159, 159);


    
}
.Contact{
    grid-column: 3/3;
    color: rgb(160, 159, 159);
    font-family: sans-serif;
    list-style: none;

}

.star {
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    align-items: center;
    justify-items: center;
}