.tableRow td{
    font-size: 18px;
    height: 50px;
    border: 1px solid black;
    border-collapse: collapse; 
    background-color: rgba(248, 248, 199, 0.67);
    text-align: center;
} 


.tableRow td li{
    text-decoration: none;

}
